<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let articulo"> $ {{articulo.precio}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-fab focusable="false" color="warn" (click)="borrarFila(j)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>



    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    <ng-container *ngIf="showMainContent">

      <button (click)="ShowHideButton()">Cerrar</button>
    </ng-container>
  </ng-container>

</table>

<div class="eliminar" *ngIf="showMainContent" >
  <p>El producto {{articuloEliminado.descripcion}} se elimino exitosamente</p>
  <button (click)="ShowHideButton()">Cerrar</button>
</div>